@font-face {
    font-family: ledfont;
    src: url('opendisplay.ttf');
}
html
{
	padding: 0;
	margin: 0;
}

body
{
	font-family: ProximaNova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
	background-image: url('bg.jpg');
}
.header
{
	background: #353536;
	font-size: 13px;
	color: #fff;
	height: 250px;
}
.row {
margin-right: 0px;
margin-left: 0px;
height: inherit;
padding: 15px;
}
.header > img {
	padding-top: 1em;
}
.site-heading {
	font-size: 4em;
	text-decoration: none;
	color: white;
}
.site-heading:hover {
	text-decoration: none;
	color: white;
}
.navbar {
margin-bottom: 0px;
}
.newsfeed
{
}
.jigsaw-bot
{
	font-size: 40px;
	background-color: rgba(255,255,255,0.3);
	padding: 0 20px 20px 20px;
	margin-top: 2%; 
	font-weight: bold;
	border: 1px rgba(255,255,255,0.3) solid;
	border-radius: 10px;
	text-align: center;
}
.led
{
	font-family: ledfont;
	background-color: #2b2b2b;
	color: #0f0;
	padding: 0 5px 5px 5px;
	font-size: 60px;
	font-weight: normal;
}
.container {
margin-right: 0px;
margin-left: 0px;
}
@media (min-width: 1200px) {}
.container {
max-width: 100%;
}
footer {
	height: 150px;
	background: #353536;
	color: white;
	font-size: 1.25em;
}
.footer-anchor {
	color: white;
}
.footer-anchor:hover {
	color: white;
}
#reg
{
	width: 550px;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 30px;
	text-align: center;
	text-shadow:
   	-1px -1px 0 #777,  
   	 1px -1px 0 #777,
   	 -1px 1px 0 #777,
   	  1px 1px 0 #777;
}

#withdraw table
{
	width: 680px;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 27px;
	text-align: center;
	font-weight: bold;
	text-shadow:
   	-1px -1px 0 #999,  
   	 1px -1px 0 #999,
   	 -1px 1px 0 #999,
   	  1px 1px 0 #999;
}

#reginfo
{
	font-size: 18px;
   	background-color: rgba(255,255,255,0.5);
   	text-shadow: none;  
}

#withinfo
{
	font-size: 18px;
   	background-color: rgba(255,0,0,0.5);
   	text-shadow: none;  
}



.overview
{
	width: 100%;
	font-size: 40px;
	font-weight: bold;
}

table.overview td, .overview
{
	text-align: center;
}

.viewall
{
	font-size: 24px;
	font-weight: bold;
	float:right;
	border: 3px black solid;
	background-color: #a6b6c7;
	color: black;
	text-decoration: none;
}

.returnover a
{
	font-size: 24px;
	font-weight: bold;
	border: 3px black solid;
	background-color: #a6b6c7;
	text-decoration: none;
	color: black;
}

.viewall a
{
	text-decoration: none;
	color: black;
}
#register
{
	background-color: #a6b6c7;
	margin-top: 25px;
	display: inline-block;
	color: #627273;
	border: 3px solid #627273;

}

.loggedin
{
	background-color: #a6b6c7;
	margin-top: 20px;
	display: inline-block !important;
	color: #627273;
	border: 2px solid #627273;
}

#ticker
{
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
}

#logtext, #useroverview
{
	font-size: 20px;
}

#useroverview
{
	padding-top: 20px;
}
.rates
{
	background: #f1c40f;
	text-align: center;
}

.overbox
{
	width:430px;
	height:430px;
	background-color:rgba(255,255,255,0.8);
	font-size: 18px;
	text-shadow: none;
	font-weight: normal;
	color: black;
	vertical-align: top;
}
