@font-face
{
    font-family: ledfont;
    src: url('opendisplay.ttf');
}

.led
{
	font-family: ledfont;
	background-color: black;
	color: #0f0;
	padding: 0 5px 5px 5px;
	font-size: 60px;
	font-weight: normal;
}

#reg
{
	width: 550px;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 30px;
	text-align: center;
	text-shadow:
   	-1px -1px 0 #777,  
   	 1px -1px 0 #777,
   	 -1px 1px 0 #777,
   	  1px 1px 0 #777;
}

#withdraw table
{
	width: 680px;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 27px;
	text-align: center;
	font-weight: bold;
	text-shadow:
   	-1px -1px 0 #999,  
   	 1px -1px 0 #999,
   	 -1px 1px 0 #999,
   	  1px 1px 0 #999;
}

#reginfo
{
	font-size: 18px;
   	background-color: rgba(255,255,255,0.5);
   	text-shadow: none;  
}

#withinfo
{
	font-size: 18px;
   	background-color: rgba(255,0,0,0.5);
   	text-shadow: none;  
}

#content
{
	font-size: 40px;
	background-color: rgba(255,255,255,0.3);
	padding: 0 20px 20px 20px;
	margin-top: 2%; 
	font-weight: bold;
	border: 1px rgba(255,255,255,0.3) solid;
	border-radius: 10px;
	text-shadow:
   	-1px -1px 0 #777,  
   	 1px -1px 0 #777,
   	 -1px 1px 0 #777,
   	  1px 1px 0 #777;
}

.overview
{
	width: 100%;
	font-size: 40px;
	font-weight: bold;
}

table.overview td, .overview
{
	text-align: center;
}

.viewall
{
	font-size: 24px;
	font-weight: bold;
	float:right;
	border: 3px black solid;
	background-color: #a6b6c7;
	color: black;
	text-decoration: none;
}

.returnover a
{
	font-size: 24px;
	font-weight: bold;
	border: 3px black solid;
	background-color: #a6b6c7;
	text-decoration: none;
	color: black;
}

.viewall a
{
	text-decoration: none;
	color: black;
}

.header
{
	background: #353536;
	font-size: 13px;
	color: #fff;
}

.header .row
{
	background: #353536;
}

.header .row>div
{
	padding: 15px 5px;
}

.grid_4 a
{
	padding: 80px 0;
}

div
{
	border: 0;
	margin: 0;
}

.row
{
	width: 1035px;
	margin: auto;
	padding: 0;
	max-height: 580px;
}

.rowadmin
{
	width: 90%;
	margin: auto;
	padding: 0;
	max-height: 580px;
	overflow-y: auto;
	text-align: center;
}

.row:after, .rowadmin:after
{
	content: "";
	display: table;
	clear: both;
}

html
{
	padding: 0;
	margin: 0;
}

body
{
	font-family: ProximaNova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
	background-image: url('bg.jpg');
}

img
{
	vertical-align: middle;
}

.grid_2
{
	width: 175px;
	float: left;
	-webkit-box-sizing: border-box;
}

.grid_3
{
	width: 300px;
	height: 180px;
	float: left;
	-webkit-box-sizing: border-box;
	text-align: center;
	color: #95a5a6;
	font-size: 16px;
	font-weight: bold;
}

.grid_4
{
	height: 180px;
	width: 550px;
	float: left;
	-webkit-box-sizing: border-box;
}

.grid_6
{
	float: left;
	-webkit-box-sizing: border-box;
	width: 1020px;
	text-align: center;
}

#register
{
	background-color: #a6b6c7;
	margin-top: 25px;
	display: inline-block;
	color: #627273;
	border: 3px solid #627273;

}

.loggedin
{
	background-color: #a6b6c7;
	margin-top: 20px;
	display: inline-block !important;
	color: #627273;
	border: 2px solid #627273;
}

#ticker
{
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
}

#logtext, #useroverview
{
	font-size: 20px;
}

#useroverview
{
	padding-top: 20px;
}

.header-logo a
{
	padding: 15px 0;
}

.header a
{
	display: block;
	color: #fff;
	text-decoration: none;
}

.header h2
{
	color: #dddd00;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0;
}

a h3
{
	color: #627273;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
}

h2
{
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.navigation:after
{
	content: "";
	display: table;
	clear: both;
}

.navigation, .navigation .row
{
	background: #f1c40f;
}

.overbox
{
	width:430px;
	height:430px;
	background-color:rgba(255,255,255,0.8);
	font-size: 18px;
	text-shadow: none;
	font-weight: normal;
	color: black;
	vertical-align: top;
}
